/* ProjectCard.module.css */
.cardContainer {
  flex: 0 0 auto;
  width: 310px; /* Fixed width for each card */
  margin-right: 2rem; /* Space between cards */
}

.card {
  position: relative;
  background: var(--project-card-bg-color);
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 400px; /* Fixed height for consistency */
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 200px; /* Fixed height for image container */
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  align-self: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
}

.card:hover .image {
  transform: scale(1.05);
}

.links {
  position: absolute;
  top: 0rem;
  right: 0rem;
  display: flex;
  gap: 0.5rem;
  z-index: 10;
}

.linkButton {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.linkButton:hover {
  background-color: var(--primary-color);
  transform: scale(1.1);
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--project-card-title-text-color);
  margin-bottom: 0.5rem;
}

.techStack {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--projectpage-techstack-color);
}

.disabledLink {
  background-color: rgba(39, 39, 39, 0.3);
  pointer-events: none;
  cursor: not-allowed;
  color: rgba(255, 255, 255, 0.385);
  text-decoration: line-through;
}

.comingSoonOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 10;
  pointer-events: none;
  border-radius: 0.75rem;
}