.section {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative; /* Added for positioning */
}

.headText {
  font-family: "Commissioner", sans-serif;
  font-weight: 900;
  color: var(--title-text-color);
  font-size: 3.75rem;
  padding-top: 1em;
}

.subText {
  font-family: "Commissioner", sans-serif;
  margin-top: 1rem;
  max-width: 48rem;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: var(--secondary-text-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.timelineContainer {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}
.experienceBackButton {
  position: absolute;
  top: 2% !important;  /* Example for positioning the button at 50% height */
  left: 0% !important;
  transform: translateY(-50%);
}


/* Responsive design (if needed) */
@media (min-width: 400px) {
  .headText {
    font-size: 50px; /* Adjust if necessary */
    padding-top: 2em;
  }

  .subText {
    font-size: 1.25rem; /* Adjust if necessary */
  }

  .experienceBackButton {
    top: 5%; /* Adjust if necessary */
    left: 0%; /* Adjust if necessary */
  }
  .timelineContainer {
    margin-top: 0rem;
  }
  .section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative; /* Added for positioning */
  }
}

