.consumableCell {
  font-family: "Commissioner", sans-serif;
    position: absolute;
    border-radius: 50%;
    background-color: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    width: var(--size);
    height: var(--size);
    left: calc(var(--left) - var(--size) / 2);
    top: calc(var(--top) - var(--size) / 2);
  }
  
  .label {
    font-size: 1em;
  }
  