body, html {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    position: relative;
    background-color: var(--navbar-trans-bg-color);
    height: 10vh;
    padding: 0 20px;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.leftContainer {
    display: flex;
    align-items: center;
    z-index: 3;
}

.menuIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 24px;
    cursor: pointer;
    z-index: 4;
    background-color: transparent;
    padding: 0;
    margin-right: 10px;
}

.menuIconLine {
    width: 100%;
    height: 3px;
    background-color: var(--text-color);
    transition: all 0.3s ease;
}

.logoImg {
    height: auto;
    width: auto;
    max-height: 80px;
    max-width: 160px;
}

.logo {
    display: flex;
    align-items: center;
}

.socialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.socialIconLink {
    margin: 0 5px;
    color: var(--text-color);
    transition: color 0.3s;
}

.socialIconLink:hover {
    color: var(--button-hover-background-color);
}

.themeToggle {
    margin-left: 10px;
    z-index: 3;
}

.navList {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.navList.active {
    font-family: 'Commissioner', sans-serif;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--navbar-solid-bg-color);
    z-index: 2;
}

.navItem {
    margin: 10px 0;
}

.navLink {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
}

.navLink:hover {
    color: var(--button-hover-background-color);
}

@media (max-width: 480px) {
    .logoImg {
        max-height: 120px;
        max-width: 120px;
    }
    .socialIcon {
        font-size: 26px;
    }

    .menuIcon {
        width: 24px;
        height: 20px;
    }

    .navbar {
        padding: 0 10px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .logoImg {
        max-height: 130px;
        max-width: 130px;
    }
    
    .socialIcon {
        font-size: 24px;
    }

}

@media (min-width: 769px) {
    .logoImg {
        max-height: 160px;
        max-width: 160px;
    }
    
    .socialIcon {
        font-size: 35px;
    }
}

@media (max-width: 768px) {
    .menuIcon {
        display: flex;
    }

    .navList {
        display: none;
    }

    .navList.active ~ .socialIcons {
        display: none;
    }
}