.backButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
  padding: 10px; /* Increase clickable area */
  border-radius: 50%;
}

.backButton:hover {
  transform: scale(1.1);
  opacity: 0.8;
  background-color: #FF7400 !important;
}

.backButton img {
  height: 70px;
  width: 70px;
  transition: filter 0.3s;
}


@media (max-width: 600px) {
  .backButton {
    transform: scale(0.8  ); /* Reduce size for smaller screens */
  }
}
