/* CoolObject.module.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
  }
  
  .container {
    position: absolute;
    top: 20%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .item {
    position: absolute;
    background-color: transparent;
    width: calc((var(--i) + 1) * 2.5vmin); /* Adjusted calculation */
    aspect-ratio: 1;
    border-radius: 50%;
    border: 0.9vmin solid rgb(0, 200, 255);
    transform-style: preserve-3d;
    transform: rotateX(70deg) translateZ(50px);
    animation: move 3s ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.08s);
    box-shadow: 0 0 15px rgba(124, 124, 124);
  }
  
  @keyframes move {
    0%,
    100% {
      transform: rotateX(70deg) translateZ(50px) translateY(0);
      filter: hue-rotate(0deg);
    }
    50% {
      transform: rotateX(70deg) translateZ(50px) translateY(-50vmin);
      filter: hue-rotate(360deg);
    }
  }
  