.switch-container {
    position: fixed;
    top: 1.25em;
    right: 1.5em;
    display: flex;
    align-items: center;
    background: #222;
    padding: 5px 10px;
    border-radius: 20px;
    z-index: 1000;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  .switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75px;
    height: 35px;
    padding: 0 6px;
    background: #222;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
  }
  
  .sun, .moon {
    font-size: 18px;
    transition: transform 0.8s, opacity 0.8s;
  }
  
  .sun {
    color: gold;
  }
  
  .moon {
    color: #fff;
    opacity: 0;
  }
  
  input:checked + .switch .sun {
    transform: translateX(43px);
    opacity: 0;
  }
  
  input:checked + .switch .moon {
    transform: translateX(-43px);
    opacity: 1;
  }
  
  .ball {
    display: none;
  }
  
  /* Media query for min-width: 400px */
@media (max-width: 769px) {
  .switch-container {
    padding: 3px 6px;
  }

  .switch {
    width: 65px;
    height: 30px;
    padding: 0 4px;
  }

  .sun,
  .moon {
    font-size: 16px;
  }
}